Code - OSS/
Electron/
Microsoft/
Microsoft Teams - Preview/
MongoDB Compass/
REAPER/
RedisFish/
Thunar/
Tracktion/
Ultralytics/
Vencord/
another-redis-desktop-manager/
audacity/
autostart/
beekeeper-studio/
configstore/
dconf/
discord/
discordcanary/
easyeffects/
flameshot/
gh/
go/
goofcord/
google-chrome/
htop/
kate/
kde.org/
kicad/
libreoffice/
lsp-plugins/
mako/
matplotlib/
menus/
neofetch/
obs-studio/
opencode/
pulse/
sakura/
session/
sitala/
teams/
vlc/
warp-terminal/
xdg-desktop-portal/
xfce4/
yabridgectl/
yay/
EOS-greeter.conf
QtProject.conf
baloofilerc
dolphinrc
filetypesrc
kate-externaltoolspluginrc
katerc
katevirc
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
kdeglobals
knfsshare
kolourpaintrc
mimeapps.list
pavucontrol.ini
systemmonitorrc
trashrc
