@import "/home/fc/.cache/wal/colors-waybar.css";

* {
    font-size: 16px;
    font-family: "Terminus (TTF)";
    font-weight: bold;
}

window#waybar {
    background: @background;
    color: @foreground;
}

/* Workspaces */
#workspaces {
    margin: 0 0px;
}

#workspaces button {
    padding: 0 8px;
    color: @color8;
    background: transparent;
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    color: @color5;
}

#workspaces button:hover {
    background: @color0;
    color: @color7;
}

/* Clock */
#clock {
    color: @foreground;
    padding: 0 15px;
}

/* Right side modules */
#power-profiles-daemon,
#pulseaudio,
#battery,
#custom-lock,
#custom-suspend {
    padding: 0 12px;
    margin: 0 2px;
}

#tray {
    margin-right: 0px;
}

#power-profiles-daemon {
    padding: 0 12px;
    color: @color3;
}

#pulseaudio {
    color: @color4;
}

#battery {
    color: @color2;
}

#battery.warning {
    color: @color1;
}

#battery.critical {
    color: @color9;
}

#custom-lock {
    color: @color5;
}

#custom-suspend {
    color: @color6;
    margin-right: 8px;
}

/* Tooltips */
tooltip {
    background: @color0;
    border: 1px solid @color4;
    border-radius: 5px;
}

tooltip label {
    color: @foreground;
}
